/** pybus front-end CSS
 ** Nikos Chan, 2016
 ** https://github.com/nik0sc/pybus
 */

#map_canvas
{
	height: 100%;
}
html, body
{
	font-family: "Roboto", Verdana, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
#inputs
{
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    padding-top: 5px;
}
#map
{
	position: fixed;
	width: 100%;
	/* set the height in $(window).resize() */
}
.dropdown-menu
{
	/* limit height and make scrollable */
	height: 300px;
	overflow: scroll;
	/* follow containing column */
	min-width: 0px;
}
.modal-footer-left
{
	/* http://stackoverflow.com/questions/24409495/bootstrap-modal-left-and-right-aligned-content-in-modal-footer */
	float: left;
	line-height: 34px;
	color: #AAAAAA;
	font-style: italic;
}
.modal-footer-left > a
{
  	color: #70A7D7;
}
.fl-right
{
	float: right;
}
.alert-float
{
	/* stick to top of window */
	position: fixed;
	top: 0px;
	z-index: 20;
	/* don't show at first */
	display: none;
}
@media (min-width: 1158px)
{
	.input-buttons
	{
		/* make the buttons align with the input when the display is wide enough */
		margin-top: 25px;
	}
}
