<!DOCTYPE html>
<!-- pybus front-end HTML, Nikos Chan, 2016 -->
<!-- https://github.com/nik0sc/pybus -->
<html>
	<head>
		<title>Bus Finder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<!-- What do all these mean?? https://github.com/audreyr/favicon-cheat-sheet -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" sizes="196x196" href="/favicon/android-icon-192x192.png"/>
		<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
		<meta charset="utf-8"/>
		
		<!-- Bootstrap recommends these CDN links -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="/css/styles.css" rel="stylesheet"/>
		
		<script>
		// order is important! place initMap callback here to avoid undefined errors
		var map;
		var map_start = {lat: 1.3404926, lng: 103.8622066};

		function initMap()
		{
			map = new google.maps.Map(document.getElementById("map_canvas"), {
				// Toa Payoh, Bishan, Serangoon, Ubi
				center: map_start,
				zoom: 15
			});
		}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyD1AZHujMfdFVxpPfWCKn0HyKcmGlFoU-o" async defer></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script> 
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
		<!-- fuelux's combobox plugin -->
		<script src="/js/combobox.js" defer></script>
		<script src="/js/pbapp.js" defer></script>
	</head>
	<body>
		<div id="map_canvas"></div>

	    <div id="about" class="modal fade" role="dialog">
	    	<div class="modal-dialog">
			    <div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Bus Finder</h3>
					</div>
					<div class="modal-body">
						<p><strong>Find the next bus that will approach your stop. 1 stop? Sit tight. 5 stops? Lim kopi. 10 stops? Take an Uber.</strong></p>
						<p>Select a service, then a route (direction), then finally the stop you're at. Bus Finder will show you how far away the nearest bus is!</p>
						<p>All data comes from <a href="https://www.mytransport.sg/content/mytransport/home/dataMall.html">LTA's DataMall service</a>. If the app can't find the next bus, it's possible that the data from LTA DataMall is bad.</p>
						<p>Inspiration for this app came from (among others) <a href="https://busrouter.sg">BusRouter SG</a> and <a href="https://play.google.com/store/apps/details?id=originally.us.buses&hl=en">SG BusLeh</a>.</p>
					</div>
					<div class="modal-footer">
						<div class="modal-footer-left"><a href="https://github.com/nik0sc/pybus">nik0sc/pybus</a> {{ commit_hash }} ({{ heroku_release_version }})</div>
						<button id="btn_about_close" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
		    	</div>
        	</div>
	    </div><!--  id="about" -->
	    
	    <div id="duplicate_stop" class="modal fade" role="dialog">
	    	<div class="modal-dialog">
			    <div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Duplicate stop in route!</h3>
					</div>
					<div class="modal-body">
						<p>You chose a stop that appears more than once in this route. <strong>Bus Finder can only tell you how far away the next bus is, not which segment of the route the bus is operating on.</strong> This is a limitation of LTA data.</p>
						<p>To workaround this problem, try choosing the stop before this one. If this message doesn't appear again, the stop before is unique and won't have this problem.</p>
						<p>Duplicates can occur at the terminal of a loop service, as well as stops where a service crosses itself.</p>
					</div>
					<div class="modal-footer">
						<button id="btn_about_close" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
		    	</div>
        	</div>
	    </div><!--  id="duplicate_stop" -->

		<!-- Floats on top of the inputs but over the map -->
		<div id="alert_duplicate" class="alert alert-warning alert-dismissible alert-float" role="alert">
			<button type="button" class="close" id="alert_duplicate_close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			This stop appears more than once in this route. <strong>Bus Finder may not give accurate results.</strong> <a href="#" data-toggle="modal" data-target="#duplicate_stop">Tell me more...</a>
		</div>	
		
	    <div id="inputs" class="container">
	      	<div class="row"><div id="find_result" class="col-sm-12">
	        	Do something...
            </div></div>
	    	<div class="row">
				<div class="col-sm-2 form-group">
					<label for="combo_service">Service</label>
					<!-- SMLJ? http://getfuelux.com/javascript.html#combobox-examples -->
					<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="combo_service">
					  <input id="combo_text_service" type="text" class="form-control">
					  <!-- There's almost certainly no room for the dropdown at the bottom, so use a dropup -->
					  <div class="input-group-btn dropup">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right">
						  <!-- Speed up the initial render by avoiding a request to /service -->
						  {% for service in services %}
						  <li data-value="{{ service }}"><a href="#">{{ service }}</a></li>
						  {% endfor %}
						</ul>
					  </div>
					</div>
				</div> 
		        <div class="col-sm-4 form-group">
					<label for="list_route">Route</label>
					<select class="form-control" id="list_route">
						<option disabled selected>Pick one...</option>
					</select>
	        	</div>
		        <div class="col-sm-4 form-group">
					<label for="list_stop">Stop</label>
					<select class="form-control" id="list_stop">
						<option disabled selected>Pick one...</option>
					</select>
	        	</div>
		        <div class="col-sm-2 form-group input-buttons">
		        	<button id="btn_find" type="button" class="btn btn-primary">
		        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		        		Find bus
	        		</button>
		        	<button id="btn_about" type="button" class="btn btn-default" data-toggle="modal" data-target="#about">About</button>
                    <button id="btn_reset" type="button" class="btn btn-warning fl-right">
                    Reset
                    </button>
	        	</div>
	      	</div>
        </div><!-- id="inputs" -->
	</body>
</html>
