<!DOCTYPE html>
<!-- pybus front-end HTML, Nikos Chan, 2016 -->
<!-- https://github.com/nik0sc/pybus -->
<html>
	<head>
		<title>pbapp</title>
		<meta name="viewport" content="initial-scale=1.0"/>
		<meta charset="utf-8"/>
		<link href="/css/styles.css" rel="stylesheet"/>
		<!-- devt version -->
		<script src="/js/jquery-3.1.1.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyD1AZHujMfdFVxpPfWCKn0HyKcmGlFoU-o" async defer></script>
		<script src="/js/pbapp.js"></script>
	</head>
	<body>
		<div id="map_canvas"></div>

	    <div id="about" class="dlg">
	        <h1>Bus Finder</h1>
	        <h2>Find the next bus that will approach your stop. 1 stop? Sit tight. 5 stops? Lim kopi. 10 stops? Take an Uber.</h2>
	        <p>All data comes from <a href="https://www.mytransport.sg/content/mytransport/home/dataMall.html">LTA's DataMall service</a>. If the app can't find the next bus, it's possible that the data from LTA DataMall is bad.</p>
	        <p><a href="https://github.com/nik0sc/pybus">pybus</a> {{ commit_hash }} ({{ heroku_release_version }})</p> 
	        <p><a href="#" id="about_close">Close</a></p>
	    </div><!--  id="about" -->
	
	    <div id="inputs">
		    <div id="container_service" class="container"><div>service:</div><select id="list_service"></select></div> 
            <div id="container_route" class="container"><div>route:</div><select id="list_route"></select></div>
            <div id="container_stop" class="container"><div>stop:</div><select id="list_stop"></select></div>
            <div id="container_find" class="container"><button id="btn_find" type="button">Find bus</button></div>
            <div id="find_result">#find_result</div>
            <div><a href="#" id="about_link">About</a></div>
        </div><!-- id="inputs" -->
	</body>
</html>
